html, body {
  margin: 0;
  background-color: black;
}

video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  background-size: cover;
  overflow: hidden;
}

#result {
  display: none;
  font-size: 339px;
  text-align: center;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}
